AIRTABLE_API_TOKEN=your_airtable_personal_access_token
AIRTABLE_BASE_ID=appMFtEQOyXyopr8l
AIRTABLE_TABLE_NAME=Waitlist Signups
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=LinkedX <onboarding@resend.dev>
RESEND_REPLY_TO=Fabian <fabianwong1995@gmail.com>
